<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <appSettings>
    <add key="DataCubeCategoryNamePrefix" value="DataCubeCat"/>
    <add key="DataCubeCategoryNamePrefix" value="DataCubePromo"/>
    <add key="DataCubeProductSeriesNamePrefix" value="DataCubeSeries"/>
    <!-- BEGIN Application Management Settings -->
    <add key="ApplicationName" value="Tiki Web Site Manager"/>
    <add key="Application_PageTitle" value="Tiki Web Site Managment"/>
    <add key="Application_UserName" value="admin"/>
    <add key="Application_Password" value="tiki"/>
    <add key="WebSiteAdminHome" value="http://localhost:3415"/>
    <add key="ConsumerWebsiteOpen" value="True"/>
    <add key="CompanyID" value="1"/>
    <add key="BrandID" value="7"/>
    <!-- END Application Management Settings -->
    <!-- BEGIN Application Image Management Settings -->
    <!-- ON/OFF - When turned on the previous Primary Image IDs are removed from the server when replace with newer images-->
    <add key="Application_CleanupOldImageonInsert" value="OFF"/>
    <add key="ConstrainImageonResize" value="ON"/>
    <add key="Application_EnforceMaxWidthOnUpload" value="OFF"/>
    <add key="NoImageURL" value="\\192.168.225.183\d$\BPS\Grilllovers\Grill lovers\image-not-available.jpg"/>
    <add key="NoDataCubeImageURL" value="\\192.168.225.183\d$\BPS\Grilllovers\Grill Lovers\datacube-not-available.JPG"/>
    <!--add key="MaxLargeWidth"  value="575"></add>
    <add key="MaxLargeHeight"  value="575"></add-->
    <add key="MaxLargeWidth" value="400"/>
    <add key="MaxLargeHeight" value="400"/>
    <add key="MaxRegularWidth" value="340"/>
    <add key="MaxRegularHeight" value="340"/>
    <add key="MaxSmallWidth" value="150"/>
    <add key="MaxSmallHeight" value="150"/>
    <add key="MaxFeatureWidth" value="75"/>
    <add key="MaxFeatureHeight" value="75"/>
    <add key="MaxAlternateWidth" value="400"/>
    <add key="MaxAlternateHeight" value="400"/>
    <add key="MaxAlternateSmallWidth" value="75"/>
    <add key="MaxAlternateSmallHeight" value="75"/>
    <!-- END Application Image Management Settings -->
    <!-- OrderMotion System Values  START -->
    <add key="OrderMotionHTTPBizID" value="BbjbcZvelKuqRisdxHZJYqnFXKGXbUbziscUjPPSKNmntObJfJrPbAQkNEdssycrIViyfyTHRgYkdZljIWRrClxHCRgFMxAmKVFyGCDHQJYUBFhNtTJvGLOxxAWoroVuGMziuMDftkBTnCfWKtlSNeFZghafGppBNEoPfYsGqDcwkVjUuaEYcdGCgAcmLxzdUZfJoqQLaFCkbjPkYgLFLryKYLIFWfUSdYBkPzFekSXxAvBXLRoFMUsDAvLDHlP"/>
    <add key="OrderMotionKeyCode" value="NET"/>
    <add key="OrderMotionDefaultShippingMethod" value="0"/>
    <add key="OrderMotionDefaultShippingMethodPOBox" value="1"/>
    <add key="OrderMotionStoreCode" value="GLWebsite"/>
    <add key="OrderMotionStoreID" value="1"/>
    <add key="OrderMotionUDOATimeout" value="70000"/>
    <add key="OrderMotionItemInformationTimeout" value="10000"/>
    <add key="EcommerceCookie" value="GLecomcookie"/>
    <add key="OrderMotionXMLFilePath" value="C:\OrderMotionXML\"/>
    <add key="OrderMotionHTTPURL" value="https://api.omx.ordermotion.com/hdde/xml/udi.asp"/>
    <!-- CustomField Example <add key="OrderMotionReasonCodeCustomFieldID" value="15" /> -->
    <!-- OrderMotion System Values  END -->
    <!-- BEGIN Data Cube & Image Management Settings -->
    <add key="ContentPublishDirectory" value="\\wcbwebtest1\bps\"/>
    <add key="ImageSource" value="http://10.9.9.76/BPS/"/>
    <add key="TempResizeUploadDirectory" value="\\wcbwebtest1\bps\Lamplight\Lamplight\Product\TempUpload\"/>
    <add key="DeleteFileDirectory" value="\\wcbwebtest1\bps\Lamplight\Lamplight\Product\DeleteFiles\"/>
    <add key="ImageStagingDirectory" value="\\wcbwebtest1\bps\Lamplight\Lamplight\DataCubeStagingDirectory\"/>
    <add key="DataCubeImageDirectory" value="\\wcbwebtest1\bps\Lamplight\Lamplight\DataCubeImages\"/>
    <add key="ImageBulkUploadDirectory" value="\\wcbwebtest1\bps\Lamplight\Lamplight\BulkImageDirectory"/>
    <add key="FileStorageLocation" value="\\wcbwebtest1\BPS\"/>
    <add key="DefaultImagePath" value="\\wcbwebtest1\bps\Lamplight\Lamplight\"/>
    <add key="DefaultImageIDSmall" value="-2"/>
    <add key="DefaultImageIDRegular" value="0"/>
    <add key="DefaultImageIDLarge" value="-1"/>
    <add key="DefaultImageIDFeature" value="-3"/>
    <!-- END Data Cube Image Management Settings -->
    <add key="ImageLocationRecipe" value="http://192.168.225.183/BPS/Char-broil/Char-Broil/RecipeImages/"/>
    <add key="UploadRecipeImageLocation" value="\\192.168.225.183\d$\BPS\Char-Broil\Char-Broil\RecipeImages\"/>
    <add key="BradleyIDDBConnection" value="data source=10.9.9.228;database=Intranet;uid=iadministrator;pwd=intranet"/>
    <!-- these values are used to control the theming of the site-->
    <add key="LamplightBrandCategoryID" value="7"/>
    <add key="TikiBrandCategoryID" value="16"/>
    <add key="AromaGlowBrandCategoryID" value="2"/>
    <!-- Note Remove from TEst and production -->
    <!-- BEGIN Temp Values from Root web confi...Not needed for implementation -->
    <add key="PhysicalImageSource" value="\\wcbwebtest1\bps\"/>
    <add key="HttpImageSource" value="http://training.images.tikibrand.com/"/>
    <!-- End Temp values-->

	  <!-- BEGIN Refresh Settings -->
	  <add key="OrderMotionStoreIDPUBLIC" value="4"/>
	  <add key="OrderMotionStoreIDPRIVATE" value="1"/>
	  <add key="OrderMotionStoreIDREPPORTAL" value="5"/>
	  
	  <!-- END Refresh Settings -->
	  

	  

  </appSettings>
  <connectionStrings>
    <add name="BaseDBConnection" connectionString="Initial Catalog=LLFBPS;Data Source=test;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    <add name="LLFPublicWebsiteConnectionString" connectionString="Initial Catalog=LLFWebsite;Data Source=test;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <siteMap defaultProvider="SqlSiteMapProvider" enabled="true">
      <providers>
        <add name="SqlSiteMapProvider" type="SqlSiteMapProvider" securityTrimmingEnabled="false" connectionStringName="BaseDBConnection"/>
        <add siteMapFile="web.sitemap" name="DefaultSiteMapProvider" type="System.Web.XmlSiteMapProvider"/>
      </providers>
    </siteMap>
    <caching>
      <sqlCacheDependency enabled="true" pollTime="5000">
        <databases>
          <add name="LLFWebsite" connectionStringName="LLFPublicWebsiteConnectionString" pollTime="5000"/>
          <add name="LLFBPS" connectionStringName="BaseDBConnection" pollTime="5000"/>
        </databases>
      </sqlCacheDependency>
    </caching>
    <anonymousIdentification enabled="true" cookieName=".ASPXANONYMOUS" cookieTimeout="100000" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="Validation" cookieless="UseCookies" domain=""/>
    <!-- Use to disable web site-->
    <httpRuntime enable="true"  requestValidationMode="2.0"/>
    <!--<identity impersonate="true" userName="wcb_adm" password="GriL#1023" />-->
    <machineKey validation="SHA1" decryptionKey="F3690E4A3143C198" validationKey="F3690E4A3143C198AB1089616A2B4D81FD55DD7A85EEAA3B16A6AE813ECEECD28DEA66A23BEE42193729BD48595EBAFE2C2E765BE77E006330BC3B1961D7CGRL"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.

            Visual Basic options:
            Set strict="true" to disallow all data type conversions 
            where data loss can occur. 
            Set explicit="true" to force declaration of all variables.
        -->
    <roleManager enabled="true"/>
    <customErrors mode="Off" defaultRedirect="~/CustomErrors/generalerror.aspx">
      <error statusCode="404" redirect="~/CustomErrors/404.aspx"/>
      <error statusCode="500" redirect="~/CustomErrors/500.aspx"/>
    </customErrors>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <pages theme="Management" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <clear/>
        <add namespace="Management"/>
        <add namespace="System"/>
        <add namespace="System.Collections"/>
        <add namespace="System.Collections.Specialized"/>
        <add namespace="System.Configuration"/>
        <add namespace="System.Text"/>
        <add namespace="System.Text.RegularExpressions"/>
        <add namespace="System.Web"/>
        <add namespace="System.Web.Caching"/>
        <add namespace="System.Web.SessionState"/>
        <add namespace="System.Web.Security"/>
        <add namespace="System.Web.Profile"/>
        <add namespace="System.Web.UI"/>
        <add namespace="System.Web.UI.WebControls"/>
        <add namespace="System.Web.UI.WebControls.WebParts"/>
        <add namespace="System.Web.UI.HtmlControls"/>
      </namespaces>
    </pages>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms name=".LLManagment" loginUrl="~/NonSecure/login.aspx" defaultUrl="~/default.aspx" protection="All" timeout="60" path="/" requireSSL="false" slidingExpiration="true" cookieless="UseDeviceProfile" domain="" enableCrossAppRedirects="false">
        <credentials passwordFormat="SHA1"/>
      </forms>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <!-- Uncomment this line to customize maxJsonLength and add a custom converter -->
        <!--
<jsonSerialization maxJsonLength="500">
<converters>
<add name="ConvertMe" type="Acme.SubAcme.ConvertMeTypeConverter"/>
</converters>
</jsonSerialization>
-->
        <!-- Uncomment this line to enable the authentication service. Include requireSSL="true" if appropriate. -->
        <!--
<authenticationService enabled="true" requireSSL = "true|false"/>
-->
        <!-- Uncomment these lines to enable the profile service. To allow profile properties to be retrieved
and modified in ASP.NET AJAX applications, you need to add each property name to the readAccessProperties and
writeAccessProperties attributes. -->
        <!--
<profileService enabled="true"
readAccessProperties="propertyname1,propertyname2"
writeAccessProperties="propertyname1,propertyname2" />
-->
      </webServices>
      <!--
<scriptResourceHandler enableCompression="true" enableCaching="true" />
-->
    </scripting>
  </system.web.extensions>
  <system.net>
    <mailSettings>
      <smtp from="cperrymond@wcbradley.com">
        <network host="10.9.9.201" password="" userName=""/>
      </smtp>
    </mailSettings>
  </system.net>
  <location path="CustomErrors/404.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="CustomErrors/500.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="NonSecure/Login.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="NonSecure/PasswordSupport.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="NonSecure/CreateUser.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="CSS">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="JS">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>