
body 
{
    font-family:Tahoma;
    font-size:8pt;
    /*color:#545C67;*/
    margin: 0;
    padding: 0;
	margin-right: 30;
	text-align: left;
 }
 
 HR {
color:#cccccc;/*#72000D;*/
height:1px;
width:100%;
}


A:link      { text-decoration:none; }
A:visited 	{ text-decoration:none; }
A:active 	{ cursor:hand; text-decoration:none; }
A:hover 	{ cursor:hand; text-decoration:"underline"; }
		

img
{
	border-width: 0;
}

.price
{
    FONT-SIZE: 16px;
	COLOR: #000000;
	border-color:#e3cf9f;
	font-family: 'Trebuchet MS',Trebuchet,Verdana,Sans-serif;
    width:100%;
    padding: 3px;
    }
    
.additional {
	font-family: tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #787878;
	letter-spacing: 0.05em;
}
.additional2 {
	font-family: tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #787878;
	letter-spacing: 0.05em;
	line-height: 19px;
}
.additionalcharges {
	font-family: tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #cd0101;
	letter-spacing: 0.05em;
	line-height: 16px;
}

.bluetext {
	font-family: tahoma;
	font-size: 12px;
	font-weight: bold;
	color:#3333CC;
	letter-spacing: 0.05em;
	vertical-align: middle;
}

A.bluetext:link      {	font-family: tahoma;
	font-size: 12px;
	font-weight: bold;
	color:#3333CC;
	letter-spacing: 0.05em;
	vertical-align: middle;}
A.bluetext:visited 	 {	font-family: tahoma;
	font-size: 12px;
	font-weight: bold;
	color:#3333CC;
	letter-spacing: 0.05em;
	vertical-align: middle;}
A.bluetext:active 	 {	font-family: tahoma;
	font-size: 12px;
	font-weight: bold;
	color:#3333CC;
	letter-spacing: 0.05em;
	vertical-align: middle;}
A.bluetext:hover 	 {	font-family: tahoma;
	font-size: 12px;
	font-weight: bold;
	color:#3333CC;
	letter-spacing: 0.05em;
	vertical-align: middle;}

.btn {
font-size:.8em;
font-weight:bold;
padding:3px 6px;
border:2px outset #FAB955;
line-height:1.0em;
letter-spacing: .15em;
background:#72000D;
cursor : hand ;
color:#FFFFFF;}


.btn1 {
	font-family: tahoma;
	font-size: 12px;
	font-weight: normal;
	color: #ffffff;/*#666666;*/
	letter-spacing: 0.05em;
	vertical-align: middle;
	background-color: #72000D;/* #c8c8c8;*/
	border: 1px solid #cccccc;/* #7a7a7a;*/
	height: 18px;
	cursor : hand ;
	padding:3px 6px;border:2px outset #FAB955;
	 
}
.btnContinue
{
font-family: tahoma;
font-size:.8em;
font-weight:bold;
padding:3px 6px;
border:2px outset #FAB955;
line-height:1.0em;
letter-spacing: .15em;
background:#ff9933;
cursor : hand ;
color:#FFFFFF;}

.btnContinue1

{
	font-family: tahoma;
	font-size:.8em
	font-weight: bold;
	color: #ffffff;/*#666666;*/
	letter-spacing: 0.05em;
	vertical-align: middle;
	background-color: #ff9933;/* #c8c8c8;*/
	border: 1px solid #cccccc;/* #7a7a7a;*/
	/*height: 18px;*/
	cursor : hand ;
	padding:2px 5px;border:2px outset #FAB955;
	line-height:.9em;
}

/*a.btn:link,
a.btn:visited,
a.btn:hover,
a.btn:focus{font-size:1.2em;font-weight:bold;padding:3px 6px;border:2px outset #FAB955;line-height:2em;background:#F26B1F;color:#FFF;}
a.btn:active,
a.btnDown{font-size:1.2em;font-weight:bold;padding:3px 6px;border:2px inset #FAB955;line-height:2em;background:#DC5A23;color:#DDD;}
a.btnDown{color:#fff !important;}
*/

.breadcrumb_org  {
	font-family: tahoma;
	font-size: 10px;
	font-weight: normal;
	color: #adadad;
	letter-spacing: 0.05em;
	text-align: left;
	text-transform: uppercase;
}

.breadcrumb  {
	FONT-FAMILY: Arial,sans-serif;
	FONT-SIZE: 12pt;
	font-weight: normal;	
	color: #72000D;	
	
	text-align: left;	
	
}

A.breadcrumb_1:link      {	font-family: tahoma;	font-size: 10px;	font-weight: normal;	color: #adadad;	letter-spacing: 0.05em;	text-align: left;	text-transform: uppercase;}
A.breadcrumb_1:visited 	 {	font-family: tahoma;	font-size: 10px;	font-weight: normal;	color: #adadad;	letter-spacing: 0.05em;	text-align: left;	text-transform: uppercase;}
A.breadcrumb_1:active 	 {	font-family: tahoma;	font-size: 10px;	font-weight: normal;	color: #adadad;	letter-spacing: 0.05em;	text-align: left;	text-transform: uppercase;}
A.breadcrumb_1:hover 	 {	font-family: tahoma;	font-size: 10px;	font-weight: normal;	color: #000000;	letter-spacing: 0.05em;	text-align: left;	text-transform: uppercase;}

A.breadcrumb:link      {	font-family: Arial,sans-serif;	font-size: 12pt;	font-weight: normal;	color: #72000D;		text-align: left;	}
A.breadcrumb:visited 	 {	font-family: Arial,sans-serif;	font-size: 12pt;	font-weight: normal;	color: #72000D;	text-align: left;	}
A.breadcrumb:active 	 {	font-family: Arial,sans-serif;	font-size: 12pt;	font-weight: normal;	color: #72000D;	text-align: left;	}
A.breadcrumb:hover 	 {	font-family: Arial,sans-serif;	font-size: 12pt;	font-weight: normal;	color: #000000;	text-align: left;	}


A.bodyLink:link     {	font-family: tahoma;	font-size: 12px;	font-weight: bold;	color: #adadad;	letter-spacing: 0.05em;	text-align: left;	text-transform: uppercase;}
A.bodyLink:visited 	{	font-family: tahoma;	font-size: 12px;	font-weight: bold;	color: #adadad;	letter-spacing: 0.05em;	text-align: left;	text-transform: uppercase;}
A.bodyLink:active 	{	font-family: tahoma;	font-size: 12px;	font-weight: bold;	color: #adadad;	letter-spacing: 0.05em;	text-align: left;	text-transform: uppercase;}
A.bodyLink:hover 	{ text-decoration :underline;	font-family: tahoma;	font-size: 12px;	font-weight: bold;	color: #000000;	letter-spacing: 0.05em;	text-align: left;	text-transform: uppercase;}

#tblshell
{
 border :1px solid #cccccc;
 }
.borderbottom
{
    border-bottom :1px solid #cccccc;
}  


/* Begin Message Box Styles */
.errormsg
{
    background: #ce4949;
	FONT-SIZE: 12px;
	COLOR: #ffffff;
	border:1px solid;
	border-color:#620c0c;
	font-family: 'Trebuchet MS',Trebuchet,Verdana,Sans-serif;
	width:100%;
	padding: 3px;
}

.infomsg
{
    background: #fbecc9;
	FONT-SIZE: 12px;
	COLOR: #000000;
	border:1px solid;
	border-color:#e3cf9f;
	font-family: 'Trebuchet MS',Trebuchet,Verdana,Sans-serif;
    width:100%;
    padding: 3px;
    }
/* End Message Box Styles */


/*- BEGIN Message Control Style ------------------------- */


.errormsgright {
background: #ce4949;
	FONT-SIZE: 12px;
	COLOR: #ffffff;
	border-right:1px solid;
	border-bottom:1px solid;
	border-top:1px solid;
	border-left:none;
	border-color:#620c0c;
	font-family: 'Trebuchet MS',Trebuchet,Verdana,Sans-serif;
}
.errormsgleft {
background: #ce4949;
	FONT-SIZE: 12px;
	COLOR: #ffffff;
	border-left:1px solid;
	border-bottom:1px solid;
	border-top:1px solid;
	border-right:none;
	border-color:#620c0c;
	font-family: 'Trebuchet MS',Trebuchet,Verdana,Sans-serif;
}

.infomsgleft {
background: #fbecc9;
	FONT-SIZE: 12px;
	COLOR: #000000;
	border-left:1px solid;
	border-bottom:1px solid;
	border-top:1px solid;
	border-right:none;
	border-color:#e3cf9f;
	font-family: 'Trebuchet MS',Trebuchet,Verdana,Sans-serif;
}

.infomsgright {
background: #fbecc9;
	FONT-SIZE: 12px;
	COLOR: #000000;
	border-right:1px solid;
	border-bottom:1px solid;
	border-top:1px solid;
	border-left:none;
	border-color:#e3cf9f;
	font-family: 'Trebuchet MS',Trebuchet,Verdana,Sans-serif;
}


.confirmmsgleft {
	background: #e3f7e1;
	border-left:1px solid;
	border-bottom:1px solid;
	border-top:1px solid;
	border-right:none;
	border-color:#c7dec5;
	FONT-SIZE: 12px;
	COLOR: #000000;
	font-family: 'Trebuchet MS',Trebuchet,Verdana,Sans-serif;
}

.confirmmsgright {
	background: #e3f7e1;
	border-right:1px solid;
	border-bottom:1px solid;
	border-top:1px solid;
	border-left:none;
	border-color:#c7dec5;
	FONT-SIZE: 12px;
	COLOR: #000000;
	font-family: 'Trebuchet MS',Trebuchet,Verdana,Sans-serif;
}

.questionmsgleft {
background: #e4eaf8;
	FONT-SIZE: 12px;
	COLOR: #000000;
	border-left:1px solid;
	border-bottom:1px solid;
	border-top:1px solid;
	border-right:none;
	border-color:#b9c5e0;
	font-family: 'Trebuchet MS',Trebuchet,Verdana,Sans-serif;
}

.questionmsgright {
background: #e4eaf8;
	FONT-SIZE: 12px;
	COLOR: #000000;
	border-right:1px solid;
	border-bottom:1px solid;
	border-top:1px solid;
	border-left:none;
	border-color:#b9c5e0;
	font-family: 'Trebuchet MS',Trebuchet,Verdana,Sans-serif;
}

.alertmsgleft {
background: #fef88e;
	FONT-SIZE: 12px;
	COLOR: #000000;
	border-left:1px solid;
	border-bottom:1px solid;
	border-top:1px solid;
	border-right:none;
	border-color:#e1db72;
	font-family: 'Trebuchet MS',Trebuchet,Verdana,Sans-serif;
}

.alertmsgright {
background: #fef88e;
	FONT-SIZE: 12px;
	COLOR: #000000;
	border-right:1px solid;
	border-bottom:1px solid;
	border-top:1px solid;
	border-left:none;
	border-color:#e1db72;
	font-family: 'Trebuchet MS',Trebuchet,Verdana,Sans-serif;
}


/*- END Message Control Style ------------------------- */


/* Begin Treeview Styles */
.tvmenuitemborder
{
    border-top :1px solid #cccccc;
    border-right :1px solid #cccccc;
    border-bottom :1px solid #cccccc;
}
.tvmenuitembrand
{
    PADDING-RIGHT: 0px; PADDING-LEFT: 0px; 
    FONT-SIZE: 8pt;
     PADDING-BOTTOM: 0px; 
     MARGIN: 0px; 
     PADDING-TOP: 0px; 
     FONT-FAMILY: tahoma;
    border-top :1px solid #cccccc;
    border-bottom :1px solid #cccccc;
    background-color:#B78D91; /*#B78D91;*/
    color: #ffffff;
    width:200px; 
/*    COLOR: #9e0202; */
}
.tvmenuitemcategory
{
    FONT-SIZE: 6pt;
     PADDING: 0px; 
     MARGIN: 0px; 
     PADDING-TOP: 0px; 
     FONT-FAMILY:Tahoma /*Arial,sans-serif;*/
     color :Black ;
     width:200px; 
       /*border-top :1px solid #cccccc;*/
    border-bottom :1px solid #cccccc;
     background-color:#ffffff; /* eeeeee #B78D91;*/
  
}
.tvmenuitemhover
{
     border-bottom :1px solid #cccccc;
     background-color:#eeeeee;
       PADDING: 0px; 
    FONT-SIZE: 8pt;
     MARGIN: 0px; 
     FONT-FAMILY: tahoma;
     width:200px; 
}
.tvmenuitem
{
    FONT-SIZE: 8pt;
     PADDING: 0px; 
     MARGIN: 0px; 
     PADDING-TOP: 0px; 
     FONT-FAMILY:Tahoma /* Arial,sans-serif*/;
     color :Black ;
     width:200px; 
     
     
       /*border-top :1px solid #cccccc;*/
    border-bottom :1px solid #cccccc;
  
                                
}


/* End Treeview Styles */
/* BEGIN Menu Styles */  
.menuitemborder
{
    border-top :1px solid #cccccc;
    border-right :1px solid #cccccc;
    border-bottom :1px solid #cccccc;
}
.menuitembrand
{
    PADDING-RIGHT: 0px; PADDING-LEFT: 0px; 
 	letter-spacing: 0.1em;
	font-weight: 500;
	font-size: 10px;
    PADDING-BOTTOM: 0px; 
     MARGIN: 0px; 
     PADDING-TOP: 0px; 
     FONT-FAMILY: tahoma;
    border-top :1px solid #cccccc;
    border-bottom :1px solid #cccccc;
    background-color:#B78D91; /*#B78D91;*/
    color: #ffffff;
    width:200px; 
/*    COLOR: #9e0202; */
}

.menuitemhover
{
     border-bottom :1px solid #cccccc;
     background-color:#eeeeee;
       PADDING: 0px; 
	letter-spacing: 0.1em;
	font-weight: 500;
	font-size: 10px;
	
}
.menuitem
{
	letter-spacing: 0.1em;
	font-weight: 500;
	font-size: 10px;
     PADDING: 3px; 
     MARGIN: 0px; 
     PADDING-TOP: 0px; 
     FONT-FAMILY:Tahoma /* Arial,sans-serif*/;
/*     width:200px; */
      text-align :left ;
     
       /*border-top :1px solid #cccccc;*/
    border-bottom :1px solid #cccccc;
    border-left :1px solid #cccccc;
    border-right :1px solid #cccccc;
  
                                
}
/* End Menu Styles */  

.subheader
{
     FONT-SIZE: 12pt;
     PADDING: 0px; 
     MARGIN: 0px; 
     PADDING-TOP: 0px; 
     FONT-FAMILY: Arial,sans-serif;
     color :#72000D;
     
    
}

.copyright {
	font-family: tahoma;
	height: 15px;
	font-size: 9px;
	font-weight: normal;
	color: #666666;
	letter-spacing: 0.1em;
	text-align: center;
	vertical-align: top;
}

.cartsubtotal {
	font-family: tahoma;
	font-size: 13px;
	font-weight: bold;
	color: #787878;
	letter-spacing: 0.05em;
	line-height: 19px;
}

.cartheader {
	background-color: #CCCCCC;
}

.errormessage{
	font-family: tahoma;
	font-size: 12px;
	font-weight: bold;
	color:red;
	letter-spacing: 0.05em;
	vertical-align: middle;
}


.returnmessage{
	font-family: tahoma;
	font-size: 12px;
	font-weight: bold;
	color:blue;
	letter-spacing: 0.05em;
	vertical-align: middle;
}

.exclusive {
	font-family: tahoma;
	font-size: 11px;
	font-style: italic;
	font-weight: bold;
	color: #dd0000;
	letter-spacing: 0.05em;
}

.footer {	font-family: tahoma;	height: 25px;	font-size: 10px;	font-weight: normal;	color: #666666;		letter-spacing: 0.1em; text-align: center;	vertical-align: middle;}
A.footer:link {	font-family: tahoma;	height: 25px;	font-size: 10px;	font-weight: normal;	color: #666666;	letter-spacing: 0.1em;	text-align: center;	vertical-align: middle;}
A.footer:visited {	font-family: tahoma;	height: 25px;	font-size: 10px;	font-weight: normal;	color: #666666;	letter-spacing: 0.1em;	text-align: center;	vertical-align: middle;}
A.footer:active {	font-family: tahoma;	height: 25px;	font-size: 10px;	font-weight: normal;	color: #666666;	letter-spacing: 0.1em;	text-align: center;	vertical-align: middle;}
A.footer:hover {	font-family: tahoma;	height: 25px;	font-size: 10px;	font-weight: normal;	color: #000000;	letter-spacing: 0.1em; text-align: center;	vertical-align: middle;}

.itemdesc {
	font-family: tahoma;
	font-size: 16px;
	font-weight: normal;
	color: #565656;
	letter-spacing: 0.04em;
	text-align: left;
}

.instock {
	font-family: tahoma;
	font-size: 10px;
	font-weight: bold;
	color:#009900;
	letter-spacing: 0.05em;
	vertical-align: middle;
}


.notavailable{
	font-family: tahoma;
	font-size: 10px;
	font-weight: bold;
	color:red;
	letter-spacing: 0.05em;
	vertical-align: middle;
}

.inputlabel {
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #787878;
	letter-spacing: 0.05em;
	line-height: 10px;
}


.menuitems {
	font-family: tahoma;
	font-size: 10px;
	text-indent: -1.4em;
	margin-left:1.5em;
	font-weight: normal;
	color: #787878;
	letter-spacing: 0.05em;
	line-height: 14px;
	text-align: left;
}

A.menuitems:link {	font-family: tahoma;font-size: 10px; font-weight: normal;	color: #787878;	letter-spacing: 0.05em;	text-align: left;line-height: 14px;text-indent: -1.4em;margin-left:1.5em;}
A.menuitems:visited {	font-family: tahoma;	font-size: 10px;	font-weight: normal;	color: #787878;	letter-spacing: 0.05em;	text-align: left;line-height: 14px;text-indent: -1.4em;margin-left:1.5em;}
A.menuitems:active {	font-family: tahoma;	font-size: 10px;	font-weight: normal;	color: #787878;	letter-spacing: 0.05em;	text-align: left;line-height: 14px;text-indent: -1.4em;margin-left:1.5em;}
A.menuitems:hover {	font-family: tahoma;	font-size: 10px;	font-weight: normal;	color: #000000;	letter-spacing: 0.05em;	text-align: left;line-height: 14px;text-indent: -1.4em;margin-left:1.5em;}


.submenuitems {
	font-family: tahoma;
	font-size: 9px;
	text-indent: -1.4em;
	margin-left:1.5em;
	font-weight: normal;
	color: #787878;
	letter-spacing: 0.05em;
	text-align: left;
	padding-left:5pt;
}

A.submenuitems:link {	font-family: tahoma;font-size: 9px;	font-weight: normal;	color: #787878;	letter-spacing: 0.05em;	text-align: left;text-indent: -1.4em;margin-left:1.5em;padding-left:5pt;}
A.submenuitems:visited {	font-family: tahoma;	font-size: 9px;	font-weight: normal;	color: #787878;	letter-spacing: 0.05em;	text-align: left;text-indent: -1.4em;margin-left:1.5em;padding-left:5pt;}
A.submenuitems:active {	font-family: tahoma;	font-size: 9px;	font-weight: normal;	color: #787878;	letter-spacing: 0.05em;	text-align: left;text-indent: -1.4em;margin-left:1.5em;padding-left:5pt;}
A.submenuitems:hover {	font-family: tahoma;	font-size: 9px;	font-weight: normal;	color: #000000;	letter-spacing: 0.05em;	text-align: left;text-indent: -1.4em;margin-left:1.5em;padding-left:5pt;}




.leftmenuitems {
	font-family: tahoma;
	font-size: 12px;
	text-indent: -1.4em;
	margin-left:1.5em;
	font-weight: normal;
	color: #787878;
	letter-spacing: 0.05em;
	line-height: 14px;
	text-align: left;
}

A.leftmenuitems:link {	font-family: tahoma;font-size: 12px;	font-weight: normal;	color: #787878;	letter-spacing: 0.05em;	text-align: left;line-height: 14px;text-indent: -1.4em;margin-left:1.5em;}
A.leftmenuitems:visited {	font-family: tahoma;	font-size: 12px;	font-weight: normal;	color: #787878;	letter-spacing: 0.05em;	text-align: left;line-height: 14px;text-indent: -1.4em;margin-left:1.5em;}
A.leftmenuitems:active {	font-family: tahoma;	font-size: 12px;	font-weight: normal;	color: #787878;	letter-spacing: 0.05em;	text-align: left;line-height: 14px;text-indent: -1.4em;margin-left:1.5em;}
A.leftmenuitems:hover {	font-family: tahoma;	font-size: 12px;	font-weight: normal;	color: #000000;	letter-spacing: 0.05em;	text-align: left;line-height: 14px;text-indent: -1.4em;margin-left:1.5em;}


.leftmenutoptext {
	font-family: tahoma;
	font-size: 13px;
	font-weight: normal;
	color: #787878;
	letter-spacing: 0.05em;
	text-align: left;
}
A.leftmenutoptext:link {	font-family: tahoma;	font-size: 13px;	font-weight: normal;	color: #787878;	letter-spacing: 0.05em;	text-align: left;}
A.leftmenutoptext:visited {	font-family: tahoma;	font-size: 13px;	font-weight: normal;	color: #787878;	letter-spacing: 0.05em;	text-align: left;}
A.leftmenutoptext:active {	font-family: tahoma;	font-size: 13px;	font-weight: normal;	color: #787878;	letter-spacing: 0.05em;	text-align: left;}
A.leftmenutoptext:hover {	font-family: tahoma;	font-size: 13px;	font-weight: normal;	color: #000000;	letter-spacing: 0.05em;	text-align: left;}


.listingname {
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #787878;
	letter-spacing: 0.05em;
}
.longdesc {
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #787878;
	letter-spacing: 0.05em;
	line-height: 15px;
}

.minitext {
	font-family: tahoma;
	font-size: 10px;
	font-weight: normal;
	color: #666666;
	letter-spacing: 0.05em;
	vertical-align: middle;
}
A.minitext:link {	font-family: tahoma;	height: 25px;	font-size: 10px;	font-weight: normal;	color: #666666;	letter-spacing: 0.2em;	text-align: center;	vertical-align: middle;}
A.minitext:visited {	font-family: tahoma;	height: 25px;	font-size: 10px;	font-weight: normal;	color: #666666;	letter-spacing: 0.2em;	text-align: center;	vertical-align: middle;}
A.minitext:active {	font-family: tahoma;	height: 25px;	font-size: 10px;	font-weight: normal;	color: #666666;	letter-spacing: 0.2em;	text-align: center;	vertical-align: middle;}
A.minitext:hover {	font-family: tahoma;	height: 25px;	font-size: 10px;	font-weight: normal;	color: #000000;	letter-spacing: 0.2em;	text-align: center;	vertical-align: middle;}

.minitextB
{
    font-family: tahoma;
	font-size: 10px;
	font-weight: bold;
	color: #666666;
	letter-spacing: 0.05em;
	vertical-align: middle;   
}


.minitext2 {
	font-family: tahoma;
	font-size: 10px;
	font-weight: normal;
	color: #666666;
	letter-spacing: 0.05em;
	vertical-align: bottom;
}
.mainmenutext {
	font-family: tahoma;
	font-size: 12px;
	font-weight: normal;
	color: #666666;
	letter-spacing: 0.05em;
	text-align: left;
}

.mainmenutextB {
	font-family: tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #666666;
	letter-spacing: 0.05em;
	text-align: left;
}




A.mainmenutext:link {font-family: tahoma;	font-size: 12px;	font-weight: normal;	color: #666666;	letter-spacing: 0.05em;	text-align: left;}
A.mainmenutext:visited {font-family: tahoma;	font-size: 12px;	font-weight: normal;	color: #666666;	letter-spacing: 0.05em;	text-align: left;}
A.mainmenutext:active {font-family: tahoma;	font-size: 12px;	font-weight: normal;	color: #666666;	letter-spacing: 0.05em;	text-align: left;}
A.mainmenutext:hover {font-family: tahoma;	font-size: 12px;	font-weight:normal;	color: #000000;	letter-spacing: 0.05em;	text-align: left;}

A.mainmenutextB:link {font-family: tahoma;	font-size: 12px;	font-weight: bold;	color: #666666;	letter-spacing: 0.05em;	text-align: left;}
A.mainmenutextB:visited {font-family: tahoma;	font-size: 12px;	font-weight: bold;	color: #666666;	letter-spacing: 0.05em;	text-align: left;}
A.mainmenutextB:active {font-family: tahoma;	font-size: 12px;	font-weight: bold;	color: #666666;	letter-spacing: 0.05em;	text-align: left;}
A.mainmenutextB:hover {font-family: tahoma;	font-size: 12px;	font-weight: bold;	color: #000000;	letter-spacing: 0.05em;	text-align: left;}

.middleheaderbar
{
    	background-color: #f4f2f2;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #a3a3a3;
	border-left-color: #a3a3a3;
	border-right-color: #a3a3a3;
	border-bottom-color: #a3a3a3;
}

.middleheaderbar1
{
	background-color: #b4f0f2;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #a3a3a3;
	border-left-color: #a3a3a3;
	border-right-color: #a3a3a3;
	border-bottom-color: #a3a3a3;
}
.middleheaderbar2
{
	background-color:  Silver ;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #a3a3a3;
	border-left-color: #a3a3a3;
	border-right-color: #a3a3a3;
	border-bottom-color: #a3a3a3;
}

.nullpanel {
	padding: 150px;
	width: auto;
	text-align: center;
}

.outofstock {
	font-family: tahoma;
	font-size: 10px;
	font-weight: bold;
	color:#CC0000;
	letter-spacing: 0.05em;
	vertical-align: middle;
}
.personalization {
	font-family: tahoma;
	font-size: 10px;
	font-weight: bold;
	color:#3333CC;
	letter-spacing: 0.05em;
	vertical-align: middle;
}

.sitemaptext
{
    font-family: tahoma;
	font-size: 10px;
	font-weight: normal;
	color: #666666;
	letter-spacing: 0.05em;
	vertical-align: bottom;
	padding-right :auto ;
    
}

.smallbtn {
	font-family: tahoma;
	font-size: 10px;
	font-weight: normal;
	color: #666666;
	letter-spacing: 0.05em;
	vertical-align: middle;
	background-color: #c8c8c8;
	border: 1px solid #7a7a7a;
}

.tinybtn {
	font-family: tahoma;
	font-size: 8px;
	font-weight: normal;
	color: #990000;
	letter-spacing: 0.05em;
	vertical-align: middle;
	background-color: #c8c8c8;
	border: 1px solid #7a7a7a;
}



.sortby {
	font-family: tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #787878;
	letter-spacing: 0.05em;
}





.shippingdetails {
	font-family: tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #372ea6;
	letter-spacing: 0.05em;
	line-height: 16px;
	text-decoration:underline;
}

A.shippingdetails:link {font-family: tahoma;font-size: 11px;font-weight: bold;color: #372ea6;letter-spacing: 0.05em;line-height: 16px;text-decoration:underline;}
A.shippingdetails:visited {font-family: tahoma;font-size: 11px;font-weight: bold;color: #372ea6;letter-spacing: 0.05em;line-height: 16px;text-decoration:underline;}
A.shippingdetails:active {font-family: tahoma;font-size: 11px;font-weight: bold;color: #372ea6;letter-spacing: 0.05em;line-height: 16px;text-decoration:underline;}
A.shippingdetails:hover {font-family: tahoma;font-size: 11px;font-weight: bold;color: #372ea6;letter-spacing: 0.05em;line-height: 16px;text-decoration:underline;}



.sortby {
	font-family: tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #787878;
	letter-spacing: 0.05em;
}

.promolink
{
color: #ff9933;
FONT-SIZE: 11pt;
font-weight: bold;
text-decoration: "underline";

}
a.promolink:link a.promolink:visited  a.promolink:active a.promolink:hover
{
color: red;
FONT-SIZE: 11pt;
font-weight: bold;
text-decoration: "underline";
}

.topheaderbar {
	background-color: #f4f2f2;
	
	border-top-width: 2px;
	border-right-width: 0px;
	border-bottom-width: 2px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #a3a3a3;
	border-bottom-color: #a3a3a3;
}

.bold
{
font-weight: bold;
}

.boxheader
{
    border: 1px solid #cccccc;
    FONT-SIZE: 10pt;
     PADDING: 5px; 
     MARGIN: 0px; 
     PADDING-TOP: 0px; 
     FONT-FAMILY: Arial,sans-serif;
     color :#72000D;
     /*background-color :#eeeeee;*/
     background-color :#eeeeee;
     
     
}
.borderleftonly
{
    border-left: 1px solid #cccccc;
    
    
}
.borderbottom
{
    border-bottom: 1px solid #cccccc;
    
    
}
.boxheadernoleft
{
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    
    FONT-SIZE: 10pt;
     PADDING: 5px; 
     MARGIN: 0px; 
     PADDING-TOP: 0px; 
     FONT-FAMILY: Arial,sans-serif;
     color :#72000D;
     /*background-color :#eeeeee;*/
     background-color :#eeeeee;
     
     
}
.boxheadernoleftbot
{
   border-top: 1px solid #cccccc;
   border-right: 1px solid #cccccc;
   FONT-SIZE: 10pt;
     PADDING: 5px; 
     MARGIN: 0px; 
     PADDING-TOP: 0px; 
     FONT-FAMILY: Arial,sans-serif;
     color :#72000D;
     background-color :#eeeeee;
}
.boxheaderbottom
{
    border-bottom: 1px solid #cccccc;
     FONT-SIZE: 10pt;
     PADDING: 5px; 
     MARGIN: 0px; 
     PADDING-TOP: 0px; 
     FONT-FAMILY: Arial,sans-serif;
     color :#72000D;
     background-color :#eeeeee;
     
}


.boxheaderyellow
{
    border: 1px solid #cccccc;
    FONT-SIZE: 10pt;
     PADDING: 5px; 
     MARGIN: 0px; 
     PADDING-TOP: 0px; 
     FONT-FAMILY: Arial,sans-serif;
     color :#72000D;
     background-color: #FFC526;
     
     
}

.boxnoside
{
       border-top: 1px solid #cccccc;
       border-bottom: 1px solid #cccccc;
       background-color : #eeeeee;
       
        padding :5px;
}
.boxnotop
{
     border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
     border-left: 1px solid #cccccc;
}
.box
{
    border: 1px solid #cccccc;
}

.boxnoleftbot
{
   border-top: 1px solid #cccccc;
   border-right: 1px solid #cccccc;
}

.boxnoleft
{
   border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}

.tbox {
	border: 1px solid #c8c8c8;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
}

.tboxright {
	border: 1px solid #c8c8c8;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align:right;
	color: #666666;
}

.total {
	font-family: tahoma;
	font-size: 13px;
	font-weight: bold;
	color: #3333CC;
	letter-spacing: 0.05em;
	text-align: right;
}

.heading
{
	color: #5377A9;
	font-family: Arial, Sans-Serif;
	font-weight: bold;
	font-size: 1.2em;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0pt;
	padding-top: 5pt;
}


/* Accordion */
.accordionHeader
{
	border: 1px solid #2F4F4F;
	color: white;
	background-color: #660000;
	font-family: Arial, Sans-Serif;
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
	margin-top: 5px;
	cursor: pointer;
}

#master_content .accordionHeader a
{
	color: #FFFFFF;
	background: none;
	text-decoration: none;
}

#master_content .accordionHeader a:hover
{
	background: none;
	text-decoration: underline;
}

.accordionLink
{
    color: white;
    cursor: pointer;
}
#master_content .accordionLink a:hover
{
    color: white;
	background: none;
	text-decoration: underline;
}


.accordionHeaderSelected
{
	border: 1px solid #2F4F4F;
	color: white;
	background-color: #993300;
	font-family: Arial, Sans-Serif;
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
	margin-top: 5px;
	cursor: pointer;
}

#master_content .accordionHeaderSelected a
{
	color: #FFFFFF;
	background: none;
	text-decoration: none;
}

#master_content .accordionHeaderSelected a:hover
{
	background: none;
	text-decoration: underline;
}

.accordionContent
{
	background-color: #f5f5f5;
	border: 1px dashed #2F4F4F;
	border-top: none;
	padding: 5px;
	padding-top: 10px;
}

.resultsHeader
{
    border: none;
     color :#72000D;
    /*background-color: #B78D91; *//* #a3a3a3;*/
	font-family: Tahoma, Sans-Serif;
	font-size: 12px;
	font-weight: bold;
    padding: 5px;
    margin-top: 5px;
}


.resultsContent
{
    border: none;
    border-top: none;
    padding: 5px;
    padding-top: 10px;
}

.standardLink
{
	font-family: tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #808080;
	letter-spacing: 0.05em;
	vertical-align: middle;
}

A.standardLink:link      {	font-family: tahoma;
	font-size: 12px;
	font-weight: bold;
	color:#808080;
	letter-spacing: 0.05em;
	vertical-align: middle;}
A.standardLink:visited 	 {	font-family: tahoma;
	font-size: 12px;
	font-weight: bold;
	color:#808080;
	letter-spacing: 0.05em;
	vertical-align: middle;}
A.standardLink:active 	 {	font-family: tahoma;
	font-size: 12px;
	font-weight: bold;
	color:#808080;
	letter-spacing: 0.05em;
	vertical-align: middle;}
A.standardLink:hover 	 {	font-family: tahoma;
	font-size: 12px;
	font-weight: bold;
	color:#808080;
	text-decoration:underline;
	letter-spacing: 0.05em;
	vertical-align: middle;}
	
	
.highlightLink
{
	font-family: tahoma;
	font-size: 13px;	
	color: #1536de;
	text-decoration:underline;
	vertical-align: middle;
}

A.highlightLink:link      {	font-family: tahoma;
	font-size: 13px;
	color:#1536de;
	text-decoration:underline;
	vertical-align: middle;}
A.highlightLink:visited 	 {	font-family: tahoma;
	font-size: 13px;	
	color:#1536de;	
	text-decoration:underline;
	vertical-align: middle;}
A.highlightLink:active 	 {	font-family: tahoma;
	font-size: 13px;
	color:#1536de;
	text-decoration:underline;
	vertical-align: middle;}
A.highlightLink:hover 	 {	font-family: tahoma;
	font-size: 13px;	
	color:#1536de;
	text-decoration:underline;
	vertical-align: middle;}
	
	
.hoverMenu
{
     border: 1px solid #2F4F4F;
    color: black;
    background-color: white;
	font-family: Arial, Sans-Serif;
	font-size: 10px;
	font-weight: bold;
    padding: 5px;
    margin-top: 5px;
}

.menuDepartments
{
	letter-spacing: 0.1em;
	font-weight: 600
}

.topmenustatic
{
	letter-spacing: 0.1em;
	font-weight: 500;
	font-size: 10px;
	text-align: right;

	 PADDING: 0px; 
     MARGIN: 0px; 
     PADDING-TOP: 0px; 
     FONT-FAMILY:Tahoma /* Arial,sans-serif*/;
     color :Black ;
     
     
       /*border-top :1px solid #cccccc;*/
 
  
}


.topmenudynamic
{
	letter-spacing: 0.1em;
	font-weight: 500;
	font-size: 10px;
	text-align: left;

 /*FONT-SIZE: 8pt;*/
     PADDING: 0px; 
     MARGIN: 0px; 
     PADDING-TOP: 0px; 
     FONT-FAMILY:Tahoma /* Arial,sans-serif*/;
     color :Black ;
     
     
     
       /*border-top :1px solid #cccccc;*/
 /*   border-bottom :1px solid #cccccc;*/
  
}

h4
{
	font-family: Tahoma;
	font-size: 14px;
	font-weight: bold;
	color: #545C67;
	margin: 0;
	padding: 0;
	margin-right: 30;
	letter-spacing: 2pt;
}

.ProductDetailText
{
	font-family: Tahoma;
	font-size: 11px;
	color: #545C67;
	margin: 0;
	padding: 0;
	margin-right: 30;
	text-align: left;
}


/*- graphical boxes with rounded corners-------------------------- */





.rcb_topleft {
	background-image: url(images/box_topleft.gif);
	height: 3px;
	width: 3px;
}

.rcb_bottomleft {
	background-image: url(images/box_bottomleft.gif);
	height: 3px;
	width: 3px;
}

.rcb_topright {
	background-image: url(images/box_topright.gif);
	height: 3px;
	width: 3px;
}

.rcb_bottomright {
	background-image: url(images/box_bottomright.gif);
	height: 3px;
	width: 3px;
}

.rcb_top {
	background-image: url(images/box_topstretch.gif);
	height: 3px;
}

.rcb_bottom {
	background-image: url(images/box_bottomstretch.gif);
	height: 3px;
}

.rcb_right {
	background-image: url(images/box_rightstretch.gif);
	width: 3px;
}

.rcb_left {
	background-image: url(images/box_leftstretch.gif);
	width: 3px;
}

.rcb_mid {
	background-color:#eef0f1; 
}

.dashed_border_h
{
	background-image: url(images/dashed-border.gif);
	background-repeat: repeat-x;
}
.dashed_border_v
{

	background-image: url(images/dashed-border.gif);
/*	background-repeat: repeat-y;*/
}

/*- graphical boxes with rounded corners and header area-------------------------- */

legend
{
	color: #000000;
	font-weight: normal;
	font-size: 8pt;
	font-variant: small-caps;
	padding-bottom: 10px;
}


/* - ToolTip style start here ********************************************* */

#theToolTip{
position: absolute;
left: -300px;
width: 200px;
border: 2px solid #C0C09F;
padding: 6px 0px 0px 10px;
background-color: #FFFFCC;
visibility: hidden;
z-index: 100000;
/*Remove below line to remove shadow. Below line should always appear last within this CSS*/
filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135,strength=4);
}

#ToolTipPointer{
position:absolute;
left: -300px;
z-index: 100001;
visibility: hidden;
}

#theToolTip p{
font-size: 8pt;/*1.0em;*/
color: #333333;
line-height:1.4em;
margin-right:10px;
margin-top:0;
}

#ToolTipTextWrap {
font-weight:bold;
font-size: 8pt; /*1.0em;*/
color: #592C16;
margin-right:10px;
}

.addToolTip
{
/*cursor:hand;*/
}
/* - ToolTip Code end here ********************************************* */



/*AutoComplete flyout */
 
.autocomplete_completionListElement

 
{ 
visibility : hidden;
 margin : 0px!important;
 background-color : inherit;
 color : windowtext;
 border : buttonshadow;
 border-width : 1px;
 border-style : solid;
 cursor : 'default';
 overflow : auto;
 height : 100px;
 text-align : left; 
list-style-type : none;
 }
 
/* AutoComplete highlighted item */
 
.autocomplete_highlightedListItem
 

{
 background-color: #ffff99;
 color: black;
 padding: 1px;
 font-size:larger;
 }
 
/* AutoComplete item */
 
.autocomplete_listItem

 
{
 background-color : window;
 color : windowtext;
 padding : 1px;
 font-size:larger;
 }
 